<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>student_id</th>
            <th>name</th>
            <th>age</th>
            <th>sex</th>
            <th>birthday</th>
        </tr>
        <tr th:each="list,stat: ${studentList}">
            <td th:text="${stat.count}"></td>
            <td th:text="${list.student_id}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.age}"></td>
            <td th:text="${list.sex}"></td>
            <td th:text="${list.birthday}"></td>
        </tr>
    </table>
</body>
</html>